@page "/"
@inject IOpenAIService OpenAIService
@inject IMarkdownService MarkdownService
@inject IChatService ChatService
@inject IConversationService ConversationService
@inject IJSRuntime JS
@inject ISpeechService SpeechService

<div class="flex flex-col h-full bg-backdrop text-brightWhite relative">
    <RoleSelector
        @ref="roleSelectorRef"
        IsSendingMessage="@isSendingMessage"
        IsImageLoading="@isImageLoading"
        IsAppearanceLoading="@isAppearanceLoading"
        OnRoleSelected="HandleRoleSelected"
        OnImageGenerated="HandleImageGenerated"
        OnError="HandleError"
        OnLoading="HandleLoading"
        ChatMessageList="@chatMessages"
    />
    <ChatMessages
        ErrorMessage="@errorMessage"
        IsImageLoading="@isImageLoading"
        IsAppearanceLoading="@isAppearanceLoading"
        OnImageClick="OpenModal"
        OnError="HandleError"
    />
    <ChatInput
        UserMessage="@userMessage"
        IsSendingMessage="@isSendingMessage"
        IsImageGenerationMode="@isImageGenerationMode"
        IsAppearanceLoading="@isAppearanceLoading"
        IsImageLoading="@isImageLoading"
        TokenCount="@tokenCount"
        MaxTokens="@MaxTokens"
        CharactersPerToken="@CharactersPerToken"
        OnSendMessage="HandleSendMessage"
        OnToggleImageGeneration="HandleToggleImageGeneration"
        OnClearMessages="HandleClearMessages"
        OnError="HandleError"
    />
    @if (showModal)
    {
        <Modal
            ImageSrc="@selectedImage"
            OnClose="HandleModalClose"
            OnError="HandleError"
        />
    }
</div>

@code {
    private string userMessage = "";
    private bool isSendingMessage = false;
    private bool isImageLoading = false;
    private bool isAppearanceLoading = false;
    private bool isImageGenerationMode = false;
    private List<ChatMessageModel> chatMessages => ConversationService.GetConversation();
    private bool showModal = false;
    private string selectedImage = "";
    private string errorMessage = "";
    private string currentRole = "";
    private RoleSelector? roleSelectorRef;

    private const int MaxTokens = 1000;
    private const double CharactersPerToken = 3.5;
    private int tokenCount = 0;

    private EventCallback<string> OnError => EventCallback.Factory.Create<string>(this, HandleError);
    private EventCallback<byte[]> OnImageGenerated => EventCallback.Factory.Create<byte[]>(this, HandleImageGenerated);
    
    private bool speechInvoked = false;

    private async Task HandleSendMessage(string message)
    {
        isSendingMessage = true;
        speechInvoked = false;
        await ChatService.HandleSendMessageAsync(message, chatMessages, isImageGenerationMode, MarkdownService, OnError, () => InvokeAsync(StateHasChanged), OnImageGenerated, HandleResponseComplete);
        isSendingMessage = false;
    }

    private async Task HandleResponseComplete()
    {
        if (SpeechService.IsSpeechEnabled && !speechInvoked)
        {
            var lastAssistantMessage = ConversationService.GetConversation().LastOrDefault(m => m.Role == "assistant")?.Message;
            if (lastAssistantMessage != null)
            {
                speechInvoked = true;
                await OpenAIService.GenerateSpeechAsync(lastAssistantMessage, async (speechBytes) =>
                {
                    await JS.InvokeVoidAsync("playAudio", Convert.ToBase64String(speechBytes));
                }, OnError);
            }
        }
    }

    private void HandleRoleSelected(string newRolePrompt)
    {
        ConversationService.AddForgetPreviousRoleMessage(currentRole, OnError);
        ConversationService.AddRoleMessage(newRolePrompt, OnError);

        currentRole = newRolePrompt;
        StateHasChanged();
    }

    private void HandleImageGenerated(byte[] imageBytes)
    {
        isImageLoading = false;
        StateHasChanged();
    }

    private async Task HandleLoading(bool isLoading)
    {
        if (isImageGenerationMode)
        {
            isImageLoading = isLoading;
        }
        else
        {
            isAppearanceLoading = isLoading;
        }
        await InvokeAsync(StateHasChanged);
    }

    private void HandleToggleImageGeneration(bool isGenerating)
    {
        try
        {
            isImageGenerationMode = isGenerating;
            StateHasChanged();
        }
        catch (Exception ex)
        {
            HandleError($"Error toggling image generation: {ex.Message}");
        }
    }

    private async Task HandleClearMessages()
    {
        try
        {
            ClearAllMessages();
            if (roleSelectorRef != null)
            {
                await roleSelectorRef.ClearRoleAsync();
            }
            StateHasChanged();
        }
        catch (Exception ex)
        {
            HandleError($"Error clearing messages: {ex.Message}");
        }
    }

    private void ClearAllMessages()
    {
        chatMessages.Clear();
        ConversationService.ClearConversation(OnError);
        errorMessage = "";
    }

    private void HandleError(string message)
    {
        errorMessage = message;
        StateHasChanged();
    }

    private void OpenModal(string imageSrc)
    {
        try
        {
            selectedImage = imageSrc;
            showModal = true;
            StateHasChanged();
        }
        catch (Exception ex)
        {
            HandleError($"Error opening modal: {ex.Message}");
        }
    }

    private void HandleModalClose()
    {
        try
        {
            showModal = false;
            StateHasChanged();
        }
        catch (Exception ex)
        {
            HandleError($"Error closing modal: {ex.Message}");
        }
    }
}